<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1 style="color: white; margin: 30px; text-align:center;">Producto CRUD</h1>
    <div class="d-flex">
      <button type="button" (click)="clickAddProducto()" id="agregar" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success"> Agregar Producto</button>
    </div>
  </div>
</nav>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Producto Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Categoria</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Stock</th>
      <th scope="col">Accion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let row of productoData">
      <td>{{row.productoId}}</td>
      <td>{{row.nombre}}</td>
      <td>{{row.precio}}</td>
      <td>{{row.categoria}}</td>
      <td>{{row.descripcion}}</td>
      <td>{{row.stock}}</td>
      <td>
        <button class="btn btn-info" (click)="onEdit(row)" data-bs-toggle="modal" data-bs-target="#exampleModal" style="color: white">Editar</button>
        <button (click)="deleteProducto(row)" class="btn btn-danger mx-3">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"> Agregar Producto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombre</label>
            <input type="text" formControlName="nombre" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"/>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Precio</label>
            <input type="number" formControlName="precio" class="form-control" id="exampleInputPassword1"/>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Categoria</label>
            <input type="text" formControlName="categoria" class="form-control" id="exampleInputPassword1"/>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Descripcion</label>
            <input type="text" formControlName="descripcion" class="form-control" id="exampleInputPassword1"/>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Stock</label>
            <input type="number" formControlName="stock" class="form-control" id="exampleInputPassword1"/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" *ngIf="showAdd" (click)="postEmployeeDetails()" class="btn btn-primary"> Agregar</button>
        <button type="button" *ngIf="showUpdate" (click)="updateProducto()" class="btn btn-primary"> Modificar</button>
      </div>
    </div>
  </div>
</div>
